*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    color:white;
    /* background-image:url(./images/background_image.jpg); */
}
#container{
    max-width:1240px;
    height:600px ;
    margin:auto;
    margin-top:30px;
    background-color: rgba(0,0,0,0.3);
}
#title{
    color:white;
    font-size:3.1rem;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing:5px;
}
span{
    color:red;
}
#description{
    font-family: "Sorts Mill Goudy", sans-serif;
    font-size:1.4rem;
}
header{
    text-align:center;
}